body{
	overflow-y: hidden;
	overflow-x: hidden;
}
h1 {
	display: block;
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 10px;
	margin-right: 10px;
	font-weight: bold;
	color: brown;
}

h2 {
	display: block;
	font-size: 1.5em;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
	margin-left: 0;
   	margin-right: 0;
	font-weight: bold;
	color: brown;
}

h3 {
	display: block;
    font-size: 1.17em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	color: brown;
}

div {
	display: block;
}

li {
    display: list-item;
}

ul { 
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 16px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 30px;
}

p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

body { 
    display: block;
    margin: 0px;
}

body:focus { 
    outline: none;
}


i {
	font-size: 14px;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	border-radius:4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
	border-radius:4px;
}


textarea {
	width: 440px;
	height: 40px;
	background-color: #fff;
	resize: none;
	float:left;
}


.wrapper {
	background-color:white;
	width: 400px;
	margin: 0 auto 0 auto;
	height: 440px;
	border-radius:8px;
	position: absolute;
	top: 0;/*335*/
	left: 0;/*412*/
	z-index: -1;
}


.comment-wrapper {
	position: absolute;
	top: 300px;
	margin: 0;
	border: 1px solid black;
	height: 105px;
	width: auto;
	color: black;
	background: lightgrey;
	border-radius:8px;
}

.comment-wrapper2 {
	position: absolute;
	top: 10px;
	left: 10px;
	margin: 0;
	border: 1px solid black;
	height: 105px;
	width: auto;
	color: black;
	background: lightgrey;
	border-radius:8px;
}

.comments-list {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 305px;
	height: 225px;
	border: 1px solid black;
	margin: 0 0 0 0;
	color: black;
	border-radius:8px;
}

#read {
	margin: 0;
	padding: 0;
	width: 290px;
	height: 185px;
	overflow: auto;
	position: relative;
	top: 10px;
	left: 10px;
	font-size: 28px;
}

.comment-body {
	width: auto;
	border-radius:8px;
}

.comment-text {
	display: block;
	width: 290px;
	font-size: 20px;
	margin: 0 0 10px 10px;
	overflow-y: hidden;
	overflow-x:hidden;
	height: 180px;
}

.comment-insert{
	height: 70px;
	width: auto;
	margin: 10px;

}

.knappenjava {
	position: relative;
	top: -5px;
}

#comment-post-text {
	width: 350px;
}

#txt {
	position: absolute;
	top: 220px;
	left: 130px;
}

#achange {
	position: absolute;
	top: 300px;
	left: 10px;
}

#achange2 {
	position: absolute;
	top: 120px;
}